/* 更改操作 别看起来那么网页 */
a:not([href]) {
    cursor: default;
}

div:not([class*="keepCursor"]) {
    cursor: default;
}

h1:not([class*="keepCursor"]) {
    cursor: default;
}

h2:not([class*="keepCursor"]) {
    cursor: default;
}

h3:not([class*="keepCursor"]) {
    cursor: default;
}

h4:not([class*="keepCursor"]) {
    cursor: default;
}

h5:not([class*="keepCursor"]) {
    cursor: default;
}

small:not([class*="keepCursor"]) {
    cursor: default;
}

b:not([class*="keepCursor"]) {
    cursor: default;
}

tr:not([class*="keepCursor"]) {
    cursor: default;
}

td:not([class*="keepCursor"]) {
    cursor: default;
}

li:not([class*="keepCursor"]) {
    cursor: default;
}

p:not([class*="keepCursor"]) {
    cursor: default;
}

span:not([class*="keepCursor"]) {
    cursor: default;
}

ul:not([class*="keepCursor"]) {
    cursor: default;
}

label:not([class*="keepCursor"]) {
    cursor: default;
}

/*拖动*/
*:not([class*="draggable"]) {
    -webkit-user-drag: none;
}

/*文本选择*/
*:not([class*="selectable"]) {
    user-select: none;
}

.selectable {
    user-select: text;
}

/* 主要内容 */
#root {
    width: 32%;
    height: 32%;
    position: fixed;
    z-index: 99999999;
    border: none;
    padding: 0;
    outline: none;
    top: 25%;
    left: 25%;
    right: unset;
    margin: unset;
    background-color: rgba(50, 50, 125, 0.65)
}

#root::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
}

#menuTitleBar {
    background-color: rgb(72, 72, 211);
    opacity: 0.9;
    width: 99%;
    height: 9%;
    z-index: 99999;
    cursor: move;
    font-size: 0.93vw;
    padding-left: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#menuContainer {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    height: 86%;
}

#toolTypeSelect {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

.toolList {
    margin-left: 2%;
    width: 73%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1vh;
    align-content: flex-start;
}

.itemButton {
    background-color: rgba(34, 34, 84, 0.8);
    color: white;
    border: none;
    height: 13%;
}

.itemButton:hover {
    background-color: rgb(78, 78, 125);
    cursor: pointer;
}

.typeButton {
    width: 90%;
    height: 13%;
}

#tooltip {
    position: fixed;
    z-index: 999999999999999999;
    background-color: rgba(43, 43, 106, 0.8);
    pointer-events: none;
    color: white;
    padding: 0.1vw 0.5vw 0.1vw 0.5vw;
    border-radius: 10px;
    font-size: x-small;
}

.typeSelected{
    background-color: rgba(67, 67, 111, 0.8);
}